.chatroom {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid color-mix(in srgb, var(--bg), var(--fg) 50%);
    overflow: hidden;
  }
}
.messages {
  flex: 1;
  height: 0;
  overflow-y: auto;
  padding: 0 50px;
}
.message-sender {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px 50px;
  background-color: var(--bg);
  border-radius: 5px;
  .send-tooltip {
    position: absolute;
    top: 15px;
    right: 10px;
    padding: 2px;
    color: color-mix(in srgb, var(--fg), var(--bg) 50%);
    font-size: 12px;
    background-color: color-mix(in srgb, var(--bg), var(--fg) 10%);
    border-radius: 2px;
    box-shadow: 2px 2px color-mix(in srgb, var(--fg), var(--bg) 50%);
    opacity: .5;
  }
  .shikitor {
    width: 100%;
  }
  .shikitor-gutter-line-highlighted::before {
    content: unset;
  }
}
