.shikitor-bg-lighting {
  position: relative;
}
.shikitor-bg-lighting:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shikitor-fg-color, white);
  opacity: 0.5;
  pointer-events: none;
}
