.shikitor {
  --gutter-width: 3em;
  --line-height: 22px;
  position: relative;
  line-height: var(--line-height);
  transition: .1s;

  &-bg-lighting {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--shikitor-fg-color, white);
      opacity: .5;
      pointer-events: none;
    }
  }

  &.line-numbers &-output-line::before {
    visibility: visible;
  }
  &-input, &-output {
    position: absolute;
    width: 100%;
    inset: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: var(--font-family, monospace);
    font-size: inherit;
  }
  &.line-numbers &-output, &.line-numbers &-input {
    width: calc(100% - var(--gutter-width));
  }
  &.line-numbers &-output {
    padding-left: var(--gutter-width);
  }
  &.line-numbers &-input {
    margin-left: var(--gutter-width);
  }
  &-input {
    resize: none;
    color: transparent;
    caret-color: var(--shikitor-caret-color, white);
    background-color: transparent;
    outline: none;
    overflow: auto;
    white-space: pre;
    line-height: var(--line-height);
  }
  &-output {
    height: 100%;
    overflow: hidden;
    > pre {
      margin: 0;
    }
    &-lines {
      display: block;
      line-height: var(--line-height);
    }
    &-line {
      position: relative;
      min-width: calc(100% - var(--gutter-width));
      &::after {
        position: absolute;
        content: attr(data-line);
        left: calc(var(--gutter-width) * -1);
        width: calc(var(--gutter-width) - .5em);
        padding-right: .5em;
        text-align: right;
      }
      &-highlighted {
        display: inline-block;
      }
      &-highlighted::before {
        position: absolute;
        content: '';
        top: -1px;
        left: calc(var(--gutter-width) * -1);
        width: calc(100% + var(--gutter-width) * 2);
        height: calc(100% + 2px);
        background-color: var(--shikitor-fg-color);
        opacity: .1;
      }
    }
    .tab, .space {
      position: relative;
    }
    .tab::before {
      content: '⇥';
      position: absolute;
      opacity: .3;
    }
    .space::before {
      content: '·';
      position: absolute;
      opacity: .3;
    }
  }
  &-placeholder {
    position: absolute;
    top: 0;
    color: color-mix(in srgb, var(--fg), var(--bg) 50%);
  }
}
