@import "../src/assets/styles/markdown";
.markdown-editor {
  --elevation-depth: 10;

  display: flex;
  flex-direction: column;

  position: absolute;
  width: 70vw;
  height: 80vh;
  left: 15vw;
  top: 10vh;
  overflow: hidden;

  border-radius: 8px;
  box-shadow: 0 calc(0.400 * var(--elevation-depth, 0) * 1px) calc(0.900 * var(--elevation-depth, 0) * 1px) 0 rgba(0, 0, 0, calc(0.13441 - 0.00063 * var(--elevation-depth, 0) + 0.00003 * var(--elevation-depth, 0) * var(--elevation-depth, 0))), 0 calc(0.075 * var(--elevation-depth, 0) * 1px) calc(0.225 * var(--elevation-depth, 0) * 1px) 0 rgba(0, 0, 0, calc(0.10997 - 0.00051 * var(--elevation-depth, 0) + 0.00003 * var(--elevation-depth, 0) * var(--elevation-depth, 0)));

  .content {
    display: flex;
    flex-grow: 1;
    width: 100%;
    .shikitor {
      width: 50%;
      border-right: 1px solid var(--td-border-level-1-color);
    }
    .s-md {
      width: 50%;
      height: 100%;
    }
  }
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  color: var(--td-text-color-primary);
  background-color: var(--td-bg-color-secondarycomponent);
  border-bottom: 1px solid color-mix(in srgb, var(--fg), var(--bg) 50%);
  > .left, > .right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  > .left {
    flex-grow: 1;
    .t-button--variant-text {
      color: var(--fg);
    }
  }
}
